<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>conf_props</param-name>
        <param-value>conf.properties,local.properties,fusioncharts_export.properties</param-value>
    </context-param>
    <context-param>
        <param-name>db_profile</param-name>
        <param-value>db.properties</param-value>
    </context-param>
    <!--定义系统启动时的实现类，这些类会在系统系统时被调用,多个以","号分隔-->
    <context-param>
        <param-name>sysStartInitClass</param-name>
        <param-value>com.ery.base.support.web.init.SystemVariableInit,com.ery.base.support.web.init.DataSourceManagerInit
            ,com.ery.meta.web.MenuDataInit,com.ery.meta.web.session.SessionInit,com.ery.meta.web.I18nInit
            ,com.ery.hadoop.hq.datasource.DataSourceInit
        </param-value>
            <!-- ,com.ery.meta.module.mag.timer.job.MetaTimerAssign -->
    </context-param>
    <listener>
        <listener-class>com.ery.base.support.web.SystemInitListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.ery.meta.web.session.SessionAttributeListener</listener-class>
    </listener>
    <filter>
        <filter-name>authFilter</filter-name>
        <filter-class>com.ery.meta.web.AuthFilter</filter-class>
        <init-param>
            <param-name>redirectURL</param-name>
            <param-value>/meta/public/redirect.jsp</param-value>
        </init-param>
        <init-param>
            <!--无须登录可以直接访问的资源，这里写JAVA风格的正则表达式,多个以”，“号分隔-->
            <!--其中${rootPath}变量代表根目录-->
            <param-name>publicReg</param-name>
            <param-value>${rootPath}/druid/。*,${rootPath}/,${rootPath}/meta/public/.*,${rootPath}/resource/.*,${rootPath}/meta/resource/.*,
                ${rootPath}/meta/error/.*,${rootPath}/dwr/.*,${rootPath}/.*?(\.js|\.css|\.gif|\.png|\.jpg)$,
                ${rootPath}/webService/.*,${rootPath}/WS/.*,${rootPath}/hr.do,
                ${rootPath}/module/user/login.do,${rootPath}/role.js,${rootPath}/hq.do,${rootPath}/meta/gd/login.jsp,${rootPath}/index.jsp,
                ${rootPath}/meta/gd/resource/.*,${rootPath}/meta/login.jsp
            </param-value>
        </init-param>
        <init-param>
            <!--登录后无需权限控制，都可以访问的URL正则表达式集，这里写JAVA风格的正则表达式,多个以”，“号分隔-->
            <param-name>loginPublicReg</param-name>
            <param-value>.*/index.jsp,.*/login.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>authFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- 接口拦截 -->
    <filter>
        <filter-name>urlRewrite</filter-name>
        <filter-class>com.ery.meta.web.UrlRewriteFilter</filter-class>
    </filter>
    
    <!-- 连接池监控 -->
	<filter>
		<filter-name>DruidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
		    <param-name>exclusions</param-name>
		    <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
		</init-param>
		<init-param>
	        <param-name>sessionStatMaxCount</param-name>
	        <param-value>1000</param-value>
    	</init-param>
    	<init-param>
        	<param-name>sessionStatEnable</param-name>
	        <param-value>true</param-value>
	    </init-param>
	     <init-param>
	        <param-name>principalSessionName</param-name><!-- principalCookieName cookie中用户名称 -->
	        <param-value>userName</param-value>
	    </init-param>
	    <init-param>
		    <param-name>profileEnable</param-name>
		    <param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DruidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 内置监控信息展示的html页面 -->
	<servlet>
      <servlet-name>DruidStatView</servlet-name>
      <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
       <init-param>
        <param-name>resetEnable</param-name>
        <param-value>true</param-value>
    </init-param>
    <!-- 
    <init-param>
        <param-name>allow</param-name>
        <param-value>128.242.127.1/24,128.242.128.1</param-value>
    </init-param>
    <init-param>
        <param-name>deny</param-name>
        <param-value>128.242.127.4</param-value>
    </init-param>
     -->
  </servlet>
  <servlet-mapping>
      <servlet-name>DruidStatView</servlet-name>
      <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  
    <filter-mapping>
        <filter-name>urlRewrite</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DwrServlet</servlet-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>crossDomainSessionSecurity</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <!-- 条件封装 -->
        <init-param>
            <param-name>config-meta-termControl</param-name>
            <param-value>/WEB-INF/meta-termControl-dwr.xml</param-value>
        </init-param>
        <!-- 大数据平台系统管理 -->
        <init-param>
            <param-name>config-meta-sys</param-name>
            <param-value>/WEB-INF/meta-sys-dwr.xml</param-value>
        </init-param>
        <!--HBaseQuery-->
        <init-param>
            <param-name>config-meta-data</param-name>
            <param-value>/WEB-INF/meta-data-dwr.xml</param-value>
        </init-param>
         <!-- HBaseQuery 用户权限管理-->
        <init-param>
            <param-name>config-meta-authority</param-name>
            <param-value>/WEB-INF/meta-authority-dwr.xml</param-value>
        </init-param>
        <!-- HBaseQuery 表管理-->
        <init-param>
            <param-name>config-meta-table</param-name>
            <param-value>/WEB-INF/meta-table-dwr.xml</param-value>
        </init-param>
        <!-- HBaseQuery 查询规则-->
        <init-param>
            <param-name>config-meta-qry</param-name>
            <param-value>/WEB-INF/meta-qry-dwr.xml</param-value>
        </init-param>
        <!-- 大数据 -->
        <init-param>
            <param-name>config-bigdata</param-name>
            <param-value>/WEB-INF/bigdata-config-dwr.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config-qry</param-name>
            <param-value>/WEB-INF/qry-config-dwr.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config-qry-ws</param-name>
            <param-value>/WEB-INF/qry-ws-dwr.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config-data-collect</param-name>
            <param-value>/WEB-INF/data-collect-dwr.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config-meta-datarole</param-name>
            <param-value>/WEB-INF/meta-datarole-dwr.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config-meta-monitor</param-name>
            <param-value>/WEB-INF/meta-monitor-dwr.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config-file-rule</param-name>
            <param-value>/WEB-INF/file-rule-dwr.xml</param-value>
        </init-param>        
    </servlet>
    <!--权限Servlet -->
    <servlet>
        <servlet-name>roleServlet</servlet-name>
        <servlet-class>com.ery.meta.web.RoleButtonServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--HBaseQueryServlet-->
    <servlet>
        <servlet-name>HBaseQueryServlet</servlet-name>
        <servlet-class>com.ery.hadoop.hq.servlet.HBaseQueryServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!--HBaseRuleServlet-->
    <servlet>
        <servlet-name>HBaseRuleServlet</servlet-name>
        <servlet-class>com.ery.hadoop.hq.servlet.HBaseRuleServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!--webservice注册-->
    <servlet>
        <servlet-name>MetaCXFServlet</servlet-name>
        <servlet-class>com.ery.hadoop.hq.ws.app.MetaWsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--文件上传Servlet-->
    <servlet>
        <servlet-name>fileUpload</servlet-name>
        <servlet-class>com.ery.meta.web.fileUpload.FileUploadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!-- 编辑器图片等上传Servlet-->
    <servlet>
        <servlet-name>editorUpload</servlet-name>
        <servlet-class>com.ery.meta.web.fileUpload.EditorUploadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DwrServlet</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roleServlet</servlet-name>
        <url-pattern>/role.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HBaseQueryServlet</servlet-name>
        <url-pattern>/hq.do</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>HBaseRuleServlet</servlet-name>
        <url-pattern>/hr.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MetaCXFServlet</servlet-name>
        <url-pattern>/WS/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileUpload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editorUpload</servlet-name>
        <url-pattern>/editorUpload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <error-page>
        <error-code>401</error-code>
        <location>/meta/error/401.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/meta/error/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/meta/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/meta/error/500.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>meta/login.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--
   <welcome-file-list>
       <welcome-file>login.jsp</welcome-file>
       <welcome-file>index.jsp</welcome-file>
   </welcome-file-list>
    -->
    <mime-mapping>
        <extension>xls</extension>
        <mime-type>application/msexcel</mime-type>
    </mime-mapping>
</web-app>